.page-company {
	.alert.error {
		display: none;
	}
}

.current-progress-main {
	padding: 10px 0px 50px;
}

.cp-step {
	a.cp-link {
		color: @form_title_color;
		font-size: 17px;
		font-family: 'Proximanova-Regular';
		width: 100%;
		&:focus,
		&:active {
			outline: none;
		}
		&.orange span {
			background-color: @orange;
			color: #fff;
			border-radius: 5px;
			padding: 8px 10px;
			margin-left: -7px;
			position: relative;
			line-height: normal;
	    position: relative;
	    top: -33px;
			&::after {
				content: ' ';
		    width: 0px;
		    height: 0px;
		    border-top: 19px solid transparent;
		    border-left: 23px solid @orange;
		    border-bottom: 16px solid transparent;
		    position: absolute;
		    right: -19px;
		    top: 0px;
			}
		}
	}

	div[class*="col-xs-"] {
		vertical-align: middle;
		height: 60px;
		line-height: 60px;
	}

	.col-xs-2 {
		text-align: center;
	}

	.indicator {
		text-align: center;
		width: 12px;
		height: 12px;
		border-radius: 100%;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		background-color: @cp_gray;
		&::before {
			content: ' ';
			position: absolute;
			width: 2px;
			height: 10px;
			background-color: @cp_gray;
			top: -50px;
	    left: 45%;
	    height: 121px;
		}
		&.green {
			background-color: @green;
			&::before {
				background-color: @green;
				z-index: 1;
			}
		}
		&.initial,
    &.end {
    	&::before {
				display: none;
			}
    }
	}

	.big-step {
		font-weight: 900;
	}

	&.current-step {
		a.cp-link span {
			background-color: @green;
			color: #fff;
			border-radius: 5px;
			padding: 8px 10px;
			margin-left: -7px;
			position: relative;
			&::after {
				content: ' ';
		    width: 0px;
		    height: 0px;
		    border-top: 19px solid transparent;
		    border-left: 23px solid #59cd90;
		    border-bottom: 16px solid transparent;
		    position: absolute;
		    right: -19px;
		    top: 0px;
			}
		}
		.indicator {
			background-color: @green;
			&::before {
				background-color: @green;
				z-index: 1;
			}
		}
	}

	&.done-step {
		.indicator {
			background-color: @green;
			&::before {
				background-color: @green;
				z-index: 1;
			}
		}
	}

	&.gray-check,
	&.no-check,
	&.green-check {
		.indicator {
			background: url(../../images/icons/gray_check_round.svg);
	    background-position: center;
	    background-repeat: no-repeat;
	    width: 30px;
	    border-radius: initial;
	    height: 30px;
	    z-index: 2;
		}
	}
	&.no-check {
		.indicator {
			background: url(../../images/icons/gray_no_check_round.svg);
	    background-position: center;
	    background-repeat: no-repeat;
		}
	}
	&.green-check {
		.indicator {
			background: url(../../images/icons/green_check_round.svg);
	    background-position: center;
	    background-repeat: no-repeat;
		}
	}
}


#block-bullseye-blocks-be-current-progress {
	.be-bs-modal-progress-items {
		text-align: center;
	}
	.be-bs-modal-progress {
		padding: 15px 0px 10px;
	}
	.modal-progress-item {
		text-align: center;
	  width: 20%;
	  .pr-line {
	  	height: 20px;
	  	span {
	  		display: inline-block;
	  		width: 10px;
	  		height: 10px;
	  		border-radius: 100%;
	  		background-color: #fff;
	  		position: relative;
	  		vertical-align: middle;
	  		&::after {
	  			content: ' ';
	  			position: absolute;
	  			height: 2px;
	  			width: 143px;
	  			background-color: #fff;
	  			top: 42%;
	  		}
	  	}
	  }
	  h3 {
	  	color: #fff;
	  	font-size: 15px;
	  	font-family: 'Proximanova-Regular';
	  	white-space: nowrap;
	  	margin-top: 10px;
	  }
	  &:last-child {
	  	.pr-line {
	  		span {
	  			background: url(../../images/icons/gray_check_round.svg);
		      background-position: center;
		      background-repeat: no-repeat;
		      border: 1px solid #fff;
		      width: 20px;
		      height: 20px;
	  			&::after {
	  				display: none;
	  			}
	  		}
	  	}
	  }
	}

	#edit-work-sca-dbra,
	#edit-plan-to-work-sca-dbra {
		display: none;
	}

	.field-name-field-tags {
		input {
			word-wrap: break-word;
	    word-break: break-all;
	    height: 80px;
	    border-bottom: none;
	    border: 1px solid #fff - 30;
	    border-radius: 5px;
	    padding: 15px 20px;
		}
	}
	#validate-contacts {
		.be-bs-modal-progress {
			text-align: center;
		}
		.be-bs-modal-progress-items {
			width: 739px;
			display: inline-block;
		}
		.modal-inner {
			width: 1100px;
		}
	}
	table.table-vc {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 100%;
		thead {
			tr {
				border-bottom: 2px solid #A2A2A2;
			}
		}
		th {
			color: @blue_gray;
			text-transform: uppercase;
			font-family: 'Proximanova-Medium';
			font-size: 14px;
			&:first-child {
				font-size: 10px;
			}
		}
		td, th {
			padding: 0px 5px 5px;
			&:first-child {
				width: 50px;
			}
		}
		td {
			padding: 9px 5px 0px;
			input[type="text"] {
				max-width: initial;
    		width: 100%;
			}
		}
		tbody {
			tr:first-child {
				td {
					padding: 15px 5px 0px;
				}
			}
		}
	}

	.form-item-priority {
		text-align: center;
		#edit-priority {
			width: 250px;
			text-align: center;
			display: inline-block;
			margin-top: 20px;
		}
	}
	
	.modal-body-inner.be-forms {
		margin: 20px 0px;
		text-align: left;
		.container-inline-date .form-type-date-popup label {
			margin-bottom: 0px;
		}
		.help-block {
			display: none;
		}
		.form-item-sl-recipient,
		.form-item-to {
	  	.help-block {
	  		display: block;
	  		color: #d67878;
	  	}
	  }
	}

	#edit-sl-content,
	#edit-message {
		background-color: #fff - 8;
		padding: 20px;
		resize: none;
		height: 284px;
	}

	.accnt-name-placeholder {
		background-color: #fff;
	}
	.modal-body-inner.be-forms.send-proposal {
		.form-item-priority {
			text-align: left;
			#edit-priority {
				width: 100%;
				margin-top: 00px;
			}
		}
		#edit-attach-proposal-upload {
			color: #000 + 50;
		}
	}
	.show-attachment {
    border-bottom: 1px solid @textfield_bottom_border_color;
    padding: 7px 0px;
    margin-bottom: 15px;
    span, a {
      color: @label_color;
      font-family: 'Proximanova-Regular';
      font-size: 15px;
      padding: 0px;
      width: 20%;
      display: inline-block;
      margin-right: -4px;
      vertical-align: middle;
      text-align: left;
    }
    a.orange-font {
      color: @orange;
      font-family: 'Proximanova-Semibold';
      background: url(../../images/icons/be_paperclip.svg);
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 15px;
      width: auto;
      padding-right: 21px;
    }
  }
  .account-estimate {
  	margin-top: 20px;
  	label, input {
  		display: inline-block;
  		vertical-align: middle;
  		position: relative;
  	}
  	label {
  		width: 170px;
  		padding-right: 10px;
  		&::after {
  			content: '$';
  			position: absolute;
  			right: -15px;
  		}
  	}
  	input {
  		width: 150px;
  		background-color: transparent;
  		padding-left: 17px;
  	}
  }

  .contract-date {
		margin-top: 20px;
		label {
			width: 170px;
			text-align: right;
		}
		label, .date-padding {
  		display: inline-block;
  		vertical-align: middle;
  		position: relative;
  	}
  	.date-padding {
  		label {
  			display: none;
  		}
  		input {
  			width: 150px;
	  		background-color: transparent;
	  		padding-left: 17px;
  		}
  		.help-block {
  			display: none;
  		}
  	}	
  }
  .be-forms.setup-fee {
  	table {
  		width: 100%;
  		th {
  			text-align: center;
  			padding-bottom: 10px;
  			color: #929292;
  			text-transform: uppercase;
  			font-family: 'Proximanova-Semibold';
  		}
  		td {
  			padding: 5px 10px 0px;
  			input {
  				width: 100%;
  				text-align: center;
  			}
  		}
  	}
  	.form-item-invoice-due-date,
  	.form-item-invoice-notes {
  		margin-right: 0px;
  		label,
  		.date-padding,
  		#edit-invoice-notes {
  			display: inline-block;
  			vertical-align: middle;
  			label {
  				display: none;
  			}
  		}
  		label {
  			width: 70px;
  		}
  		.date-padding,
  		#edit-invoice-notes {
  			width: 300px;
  		}
  	}
  }

  .setup-fee-add-container {
  	padding: 20px 20px;
  	a {
  		color: @orange;
  	}
  }

  .pdf-dummy-preview {
  	text-align: left;
  	h1, h2 {
  		text-align: left;
  	}
  }

  .send-document-pdf {
  	h1 {
  		border-bottom: 2px solid #000 + 100;
  		padding-bottom: 10px;
  		color: #000 + 150;
  		text-transform: uppercase;
  		font-family: 'Proximanova-Light';
  	}
  	table {
  		margin-top: 60px;
  		margin-bottom: 80px;
  		width: 100%;
  		th {
  			text-transform: uppercase;
  			border-bottom: 2px solid @orange;
  		}
  		th, td {
  			font-size: 13px;
  			padding: 10px;
  			&:nth-of-type(2) {
  				text-align: center;
  			}
  			&:last-child {
  				text-align: right;
  			}
  		}
  		td {
  			background-color: #fff - 10;
  		}
  		tbody {
  			tr:first-child {
  				td {
  					background-color: #fff;
  				}
  			}
  			tr:last-child {
  				td:first-child {
  					background-color: #fff;
  					h4 {
  						color: @orange;
  						font-size: 14px;
  						padding-top: 0px;
  					}
  					p {
  						color: #000 + 80;
  					}
  				}
  				td {
  					background-color: @orange;
  					color: #fff;
  					padding: 5px 10px;
  				}
  			}
  		}
  	}
  	.company-info {
  		margin-top: 25px;
  		div {
  			color: #000 + 80;
  			font-family: 'Proximanova-Regular';
  			font-size: 13px;
  		}
  	}
  	.other-info {
  		div {
  			text-align: right;
  			span {
  				width: 160px;
  				text-align: left;
  				display: inline-block;
  				text-transform: uppercase;

  			}
  			span:first-child {
  				width: 100px;
  				color: @orange;
  				position: relative;
  				&::after {
  					content: ':';
  					position: absolute;
  					right: 0px;
  				}
  			}
  			span:last-child {
  				text-align: right;
  			}
  		}
  	}
  }
	
  #bullseye-current-progress-closed-deals-form {
  	.cp-step {
  		div[class*="col-xs-"] {
				vertical-align: middle;
				height: 80px;
				line-height: 80px;
			}
			.indicator::before {
		    top: -59px;
		    height: 135px;
			}
  	}
	 
  	.be-bs-modal .modal-body-inner {
  		padding: 0px 90px;
  	}

  	.prepare-docs {
  		margin-top: 30px;
  		h2 {
  			font-size: 17px;
  			color: #fff - 150;
  		}
  		a {
  			font-size: 13px;
  			color: @orange;
  		}
  		.left {
  			text-align: right;
  			i {
  				color: #fff - 100;
  				font-size: 40px;
  				&.green {
  					color: @green;
  				}
  			}
  		}
  		.right {
  			text-align: left;
  		}
  	}

  	.be-bs-modal .modal-body-inner.setup-account {
  		padding: 25px 90px;
  	}

  	.arrow-link {
  		color: @orange;
  		margin-top: 20px;
  		font-size: 20px;
  	}

  	.secondary-link {
  		line-height: normal;
	    position: absolute;
	    bottom:1px;
	    left: 9px;
	    color: @orange;
  	}
  	#div-congrats {
  		a.cp-link {
  			line-height: normal;
  			margin-top: 25px;
  			span {
  				line-height: normal;
  			}
  		}
  	}
  }
}

#add-contact {
	border: none;
	background-color: transparent;
	background: none;
	i {
		color: @green;
		font-size: 20px;
	}
}

.con-delete-new,
.con-delete,
.sfi-delete,
.sfi-delete-new {
	border: none;
	background-color: transparent;
	background: none;
	i {
		color: red;
		opacity: 0.5;
		font-size: 20px;
	}
}


