#google-inbox_wrapper {
	background-color: #fff;
	padding-top: 15px;
}

#google-inbox_length {
	padding-left: 10px;
}

#google-inbox_filter {
  padding-bottom: 10px;
  margin-top: -3px;
  padding-right: 14px;
  input {
  	border: 1px solid #fff - 30;
  	border-radius: 5px;
  }
}

#google-inbox {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	thead {
		tr {
			background-color: @blue_gray;
			th {
				color: #fff;
		    font-size: 14px;
		    font-family: 'Proximanova-Semibold';
		    padding: 17px 10px;
		    line-height: 15px;
			}
		}
	}
	tbody {
		tr {
			td {
				background-color: #fff;
				font-size: 14px;
		    font-family: 'Proximanova-Semibold';
		    vertical-align: middle;
		    a {
		    	color: @orange;
		    }
		    button {
		    	background-color: @orange;
		    	border-color: @orange - 10;
		    }
			}
		}
	}
}

#google-inbox_info {
	padding-left: 10px;
}

#google-inbox_paginate {
	a {
		background: transparent;
		background-color: transparent;
		border: none;
		&.current {
			color: @orange !important;
		}
	}
}

.page-gmail-connector-other {
	#send-button {
		background-color: @blue_gray;
		border-color: @blue_gray - 10;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

#block-bullseye-blocks-be-mailbox {
	.be-regular-h2 {
		span {
			background-color: @orange;
			border-radius: 100%;
			color: #fff;
			margin-left: 10px;
			font-size: 14px;
    	padding: 4px 8px;
		}
	}

	.tabbed-block {
		.tab-navigations {
			position: relative;
		}
	  ul.tabs-menu {
	    position: absolute;
	    right: 0px;
	    top: -38px;
	  }
	}

	.dashboard-table-wrapper {
		min-height: 501px;
		.dashboard-tables {
			tbody td {
				padding-top: 7px;
				padding-bottom: 7px;
			}
		}
	}
	.mailbox-dot {
		background-color: #fff;
		border-radius: 100%;
		width: 8px;
		height: 8px;
		display: inline-block;
	}

	.mail-subject,
	.mail-trimmed-body {
		font-family: 'Proximanova-Regular';
		color: @tb_gray_font + 10;
		font-size: 14px;
	}

	.mailbox-unread {
		.mailbox-dot {
			background-color: @orange;
		}
		.mail-subject {
			font-family: 'Proximanova-Bold';
			color: @tb_gray_font;
		}

		.mail-trimmed-body {
			font-family: 'Proximanova-Medium';
			color: @tb_gray_font;
		}
	}
}