/*#google-inbox_wrapper{*/
/*display: none;*/
/*}*/
.hidden {
  display: none;
}
iframe {
  border: 0 none;
  display: flex;
  height: 600px;
  min-height: 80%;
  width: 100%;
}

.modal-header .close {
  margin-top: -2px;
}
button.close {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  cursor: pointer;
  padding: 0;
}
.close {
  color: 1000;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.2;
  text-shadow: 0 1px 0 #fff;
}

.alert-box {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma,Geneva,Arial,sans-serif;
  font-size: 11px;
  padding: 10px 36px;
  margin: 10px;
}
.alert-box span {
  font-weight: bold;
  text-transform: uppercase;
}
.error {
  background: #ffecec url('../images/error.png') no-repeat 10px 50%;
  border: 1px solid #f5aca6;
}
.success {
  background: #e9ffd9 url('../images/success.png') no-repeat 10px 50%;
  border: 1px solid #a6ca8a;
}
.warning {
  background: #fff8c4 url('../images/warning.png') no-repeat 10px 50%;
  border: 1px solid #f2c779;
}
.notice {
  background: #e3f7fc url('../images/notice.png') no-repeat 10px 50%;
  border: 1px solid #8ed9f6;
}
/******************************************************************/
.email-delete {
  border-radius: 7px;
  box-shadow: 0 -1px 0 1px rgba(0, 0, 0, 0.1) inset, 0 -10px 20px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
  display: inline-block;
  min-width: 80px;
  padding: 5px 5px;
  background: #d33 none repeat scroll 0 0;
  color: white;
}

.email-send {
  border-radius: 7px;
  box-shadow: 0 -1px 0 1px rgba(0, 0, 0, 0.1) inset, 0 -10px 20px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
  display: inline-block;
  min-width: 80px;
  padding: 5px 5px;
  background: #6b6 none repeat scroll 0 0;
  color: white;
}
/******************************************************************/
input#email-to,
input#email-subject {
  width: 95%;
}
textarea#email-body {
  width: 96%;
}
