/*
 * Pre-defined classes.
 */
  .horizontal-list {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    list-style: none;
    li {
      padding: 0px;
      margin: 0px;
      display: inline-block;
      list-style-type: none;
      list-style: none;
    }
  }
  .be-hide,
  .hidden-container {
    display: none;
  }

  .be-show {
    display: block;
  }

  .container {
    width: 100%;
  }

  .tabbed-block {
    ul.tabs-menu {
      margin: 0px;
      padding: 0px;
      li {
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
        a {
          display: inline-block;
          text-align: center;
          width: 100%;
        }
        &.current {

          a {
          }
        }
      }
    }
    .body-tabs {
      width: 100%;
      .tab-content {
        display: none;
      }
      #tab-0 {
        display: block;
      }
    }
  }

  .be-custom-actions {
    text-align: right;
    margin-top: 20px;
    a, button, input[type="submit"] {
      display: inline-block;
      color: #fff;
      font-family: 'Proximanova-Bold';
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 29px;
      padding: 10px 40px;
      border: none;
      margin-left: 5px;
      &:hover {
        color: #fff;
      }
      &:active,
      &:focus {
        outline: none;
      }
      &.gray-btn {
        background-color: @form_back_button_background;
        &:hover {
          background-color: @form_back_button_background + 10;
        }
      }
      &.orange-btn {
        background-color: @orange;
        &:hover {
          background-color: @orange + 10;
        }
      }
      &.blue-gray-btn {
        background-color: @blue_gray;
        &:hover {
          background-color: @blue_gray + 10;
        }
      }
      &.green-btn {
        background-color: @green;
        &:hover {
          background-color: @green + 10;
        }
      }
    }
  }

  .center {
    text-align: center;
  }

  .ui-datepicker {
    select {
      color: #000 + 50;
    }
  }

  #ui-datepicker-div {
    z-index: 9999 !important;
  }

/*
 * Left Sidebar.
 */
  .left-sidebar {
    position: relative;
    min-height: 100vh;
    background-color: @gray_sidebar_fill;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 147px;
  }

  .logo-container {
    text-align: center;
    a {
      display: block;
    }
    img {
      width: 175px;
    }
  }

  .left-sidebar-footer {
    background-color: @gray_sidebar_fill;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 20px 0px 50px;
    p {
      text-align: center;
      color: @precision_built_color;
    }
    img {
      width: 150px;
    }
  }

/*
 * For the sidebar menu.
 */
  .block-superfish {
    .block-title,
    li.sf-clone-parent {
      display: none;
    }
    li {
      position: relative;
    }
    a {
      color: @sidebar_menu_font_color;
      font-size: 17px;
      font-family: 'Proximanova-Regular';
      padding: 18px 20px 18px 60px;
      border-left: 4px solid @gray_sidebar_fill;
      &.active {
        border-left: 4px solid @orange;
        color: @sidebar_menu_font_color_active;
      }
    }
    a.main-link {
      position: absolute;
      z-index: 100;
      width: 75%;
      border-left: 4px solid transparent;
    }
    a.menuparent {
      position: relative;
      i {
        position: absolute;
        right: 21px;
        top: 14px;
        &.fa-sort-asc {
          top: 21px;
        }
      }
    }
    .be-meter {
      background: url(../images/icons/d_meter.svg);
      &.active {
        background: url(../images/icons/d_meter_white.svg);
      }
    }
    .be-building {
      background: url(../images/icons/d_building.svg);
      &.active {
        background: url(../images/icons/d_building_white.svg);
      }
    }
    .be-calendar {
      background: url(../images/icons/d_calendar.svg);
      &.active {
        background: url(../images/icons/d_calendar_white.svg);
      }
    }
    .be-checklist {
      background: url(../images/icons/d_checklist.svg);
      &.active {
        background: url(../images/icons/d_checklist_white.svg);
      }
    }
    .be-document {
      background: url(../images/icons/d_document.svg);
      &.active {
        background: url(../images/icons/d_document_white.svg);
      }
    }
    .be-users {
      background: url(../images/icons/d_users.svg);
      &.active {
        background: url(../images/icons/d_users_white.svg);
      }
    }
    .be-bag {
      background: url(../images/icons/d_bag.svg);
      &.active {
        background: url(../images/icons/d_bag_white.svg);
      }
    }
    .be-folder {
      background: url(../images/icons/d_folder.svg);
      &.active {
        background: url(../images/icons/d_folder_white.svg);
      }
    }
    .icon {
      background-repeat: no-repeat;
      background-position: 15px center;
      background-size: auto 26px;
      &.active {
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: auto 26px;
        background-color: @gray_active_menu_tab_header;
      }
    }
    li {
      ul {
        background-color: @gray_active_menu_tab;
        a {
          border-left: 4px solid transparent;
          &.active {
            border-left: 4px solid @orange;
            background-color: @gray_active_menu_tab_header;
          }
        }
      }
    }
  }

/*
 * Right Content.
 */
  .right-content {
    padding: 0px;
  }

/*
 * Main Content Region.
 */
  .content-region {
    padding: 30px;
  }

  .column-wrapper {
    margin-left: -10px;
    margin-right: -10px;
    div[class*="col-"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

/*
 * Top Header.
 */
  .top-header {
    background-color: @orange;
  }

  .top-header-inner {
    height: @top_header_height;
    position: relative;
    z-index: 10;
  }

  ul.top-header-icons {
    display: inline-block;
    height: @top_header_height;
    text-align: right;
    width: 100%;
    li {
      position: relative;
      float: right;
      border-left: 1px solid @top_header_border_color;
    }
    a {
      display: inline-block;
      width: 100%;
      height: @top_header_height;
      line-height: @top_header_height;
      padding: 0px 23px;
      &:hover {
        background-color: @orange + 30;
      }
    }
    img.be-icon {
      height: 20px;
    }
    img.user-pic {
      height: 41px;
      border-radius: 100%;
      vertical-align: middle;
    }
    span.user-name {
      font-family: 'Lato-Bold';
      font-size: 17px;
      color: #fff;
      vertical-align: middle;
    }
    i {
      margin: 0px 9px 0px 13px;
      position: relative;
      top: -3px;
      font-size: 18px;
    }
  }

  ul.top-header-ul-children {
    background-color: @blue_gray;
    position: absolute;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 200px;
    z-index: 1;
    li {
      border-left: none;
      width: 100%;
    }
    a {
      height: auto;
      line-height: normal;
      display: block;
      padding: 0px;
      color: #fff;
      font-family: 'Proximanova-Semibold';
      font-size: 17px;
      padding: 12px 25px;
      &:hover {
        background-color: @orange + 30;
      }
    }
  }

  ul.top-header-icons {
    li:first-child {
      ul.top-header-ul-children {
        right: 0px;
        width: 100%;
      }
    }
  }

/*
 * Bottom Header.
 */
  .bottom-header {
    background-color: @bottom_header_background;
    border-bottom: 2px solid @bottom_header_border_color;
    padding: 13px 30px;
  }

  h1.be-page-title,
  h1.be-summary-title {
    color: @orange;
    text-transform: uppercase;
    font-family: 'Proximanova-Regular';
    font-size: 29px;
    display: inline-block;
    vertical-align: middle;
  }

  h1.be-summary-title {
    display: none;
  }

/*
 * Lightbox Modal.
 */
  html.be-lightbox-html {
    height: 100vh;
    width: 100%;
    display: table;
  }
  body.be-lightbox {
    background-color: transparent;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    .slicknav_menu,
    .left-sidebar,
    .top-header,
    .bottom-header,
    .footer-wrapper,
    #admin-menu {
      display: none;
    }
    .content-region {
      padding: 35px;
      background-color: #fff;
      width: 600px;
      margin: 30px auto;
    }
    .right-content {
      width: 100%;
    }
  }

  #lightbox {
    position: fixed;
    height: 100vh !important;
    min-height: 100vh !important;
    top: 0px !important;
    overflow: hidden;
    display: block;
    width: 100%;
    #outerImageContainer {
      height: 100vh !important;
      min-height: 100vh;
      width: 100% !important;
      background-color: transparent !important;
      display: table;
      vertical-align: middle;
      overflow: auto;
    }
    #frameContainer {
      display: table-cell;
      vertical-align: middle;
      padding: 0px !important;
      width: 100%;
      height: 100vh;
      iframe {
        visibility: hidden;
        width: 100% !important;
        height: 100vh !important;
      }
    }
    #imageDataContainer {
      display: none !important;
    }
  }

/*
 * BE Forms.
 */
  .be-forms {
    .glyphicon,
    .input-group-addon {
      display: none;
    }
    .form-title {
      margin-bottom: 30px;
      h2 {
        text-transform: uppercase;
        color: @form_title_color;
        font-family: 'Proximanova-Semibold';
        font-size: 20px;
      }
    }
    label {
      color: @label_color;
      font-family: 'Proximanova-Regular';
      font-size: 15px;
      margin-bottom: 0px;
    }
    .input-group {
      width: 100%;
    }
    input[type="text"],
    select,
    textarea {
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: @textfield_color;
      font-family: 'Proximanova-Regular';
      font-size: 15px;
      border-radius: 0px;
      border-bottom: 2px solid @textfield_bottom_border_color;
      padding: 0px;
      &:focus {
        border: none;
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 0px;
        border-bottom: 2px solid @orange;
      }
    }
    input[type="text"],
    textarea {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: @textfield_placeholder_color;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: @textfield_placeholder_color;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: @textfield_placeholder_color;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: @textfield_placeholder_color;
      }
    }

    .container-inline-date {
      input[type="text"] {
        background: url(../images/icons/be_datepicker_calendar.svg);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 17px;
      }

      .form-type-date-popup {
        width: 100%;
        label {
          display: block;
          margin-bottom: 5px;
        }
        .form-type-textfield label {
          display: none;
        }
        .date-padding {
          float: none;
        }
        .form-item {
          float: none;
        }
        input {
          width: 100%;
        }
      }
    }
    select {
      color: @select_color;
    }
    .be-form-section {
      margin-bottom: 15px;
      .row {
        margin-left: -5px;
        margin-right: -5px;
      }
      div[class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .be-form-single {
      margin-bottom: 15px;
    }
    #edit-submit-container,
    #edit-actions {
      text-align: right;
      margin-top: 30px;
      margin-bottom: 0px;
      a, button, input {
        display: inline-block;
        color: #fff;
        font-family: 'Proximanova-Bold';
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 29px;
        padding: 10px 40px;
        border: none;
        margin-left: 5px;
        &.gray-btn {
          background-color: @form_back_button_background;
          &:hover {
            background-color: @form_back_button_background + 10;
          }
        }
        &.blue-gray-btn {
          background-color: @blue_gray;
          &:hover {
            background-color: @blue_gray + 10;
          }
        }
        &.orange-btn {
          background-color: @orange;
          &:hover {
            background-color: @orange + 10;
          }
        }
        &.green-btn {
          background-color: @green;
          &:hover {
            background-color: @green + 10;
          }
        }
      }
    }
    .form-type-select,
    .form-type-managed-file {
      margin-bottom: 15px;
    }

    .form-autocomplete {
      input {
        width: 100%;
      }
    }

    .select-benefits-container {
      .select-benefit-label {
        margin-bottom: 10px;
      }

      .form-type-checkbox {
        label {
          color: @textfield_color;
        }
      }
    }

  }

/*
 * BE Tables.
 */
  .be-table-block {
    background-color: #fff;
  }

  .be-table-top-header {
    padding: 15px 25px;
  }

  .account-count {
    font-family: 'Proximanova-Medium';
    font-size: 16px;
    color: #555454;
    border-right: 1px solid #555454;
    padding-right: 15px;
    margin-right: 15px;
  }

  .be-table-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    background-color: @orange;
    font-family: 'Proximanova-Bold';
    display: inline-block;
    border-radius: 3px;
    padding: 4px 22px;
    text-align: center;
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      background-color: @orange + 10;
    }
    &.green {
      background-color: @green;
      &:hover {
        background-color: @green + 10;
      }
    }
    &.red {
      background-color: #ce4a4a;
      &:hover {
        background-color: #ce4a4a + 10;
      }
    }
  }

  .be-table-right-icons {
    text-align: right;
    a {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      img {
        width: 17px;
      }
    }
  }

  .be-tables {
    width: 100%;
    table-layout: fixed;
    .cell-check {
      width: 50px;
    }
    thead tr {
      background-color: @table_header_tr_color;
      th {
        color: #fff;
        font-size: 14px;
        font-family: 'Proximanova-Semibold';
        padding: 17px 5px;
        line-height: 15px;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #fff - 20;
      }
      td {
        padding: 10px 5px;
        span {
          display: inline-block;
          font-size: 14px;
          font-family: 'Proximanova-Semibold';
          vertical-align: middle;
          &.dot-priority {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            &.red {
              background-color: #E34307;
            }
            &.blue {
              background-color: #3C91E6;
            }
            &.green {
              background-color: @green;
            }
            &.gray {
              background-color: @gray;
            }
          }
        }
        .gray-font {
          color: @tb_gray_font;
        }
        .light-gray-font {
          color: @tb_light_gray_font;
        }
        .orange-font {
          color: @orange;
        }
        .email {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .be-table-arrow-td {
      width: 10%;
    }
    .be-dot-td {
      width: 70px;
      text-align: center;
    }
    .cell-check {
      padding-left: 25px;
      padding-right: 10px;
    }
    img.be-tables-user-pic {
      border-radius: 100%;
      width: 31px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  .producer-pending-file {
    i {
      color: @orange;
    }
  }

/*
 * BE Bootstrap modals.
 */
  .be-bs-modal {

    .be-custom-actions {
      text-align: center;
      margin-top: 0px;
      padding: 0px 0px 35px;
    }
    .modal-body {
      min-height: 200px;
      display: table;
      width: 100%;
      text-align: center;
    }
    .modal-body-wrap {
      vertical-align: middle;
      display: table-cell;
    }
    .modal-body-inner {
      padding: 0 30px;
      h3 {
        font-family: 'Proximanova-Regular';
        font-size: 20px;
        color: @field_value_color;
      }
    }

    .modal-dialog {
      display: table !important;
      width: 100%;
      height: 100vh;
    }
    .modal-content {
      border-radius: 0px;
      width: 100%;
      display: table-cell;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      vertical-align: middle;
    }
    .modal-inner {
      width: 750px;
      margin: 0 auto;
      background-color: #fff;
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-header {
      background-color: @blue_gray;
      position: relative;
      min-height: 50px;
      a.close {
        position: absolute;
        top: 13px;
        right: 14px;
        color: #FFF;
        opacity: 1;
        background-color: transparent;
        font-size: 31px;
        &:active,
        &:focus {
          outline: none;
          background-color: transparent;
        }
      }
    }
    .modal-progress-item {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
    }
    .modal-footer {
      border-top: none;
      padding: 0px;
      text-align: center;
    }
  }

/*
 * BE Regular Blocks.
 */
  .be-regular-block {
    background-color: #fff;
    padding: 20px 25px;
    margin-bottom: 20px;
    position: relative;
  }

  .edit-link,
  .select-link {
    position: absolute;
    top: 20px;
    right: 25px;
    display: inline-block;
    img {
      width: 15px;
    }
  }

  .select-link {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    font-family: 'Lato-Bold';
      font-size: 13px;
      text-transform: uppercase;
      color: @field_label_color;
    option {

    }
  }

  h2.be-regular-h2 {
    color: @content_block_title_color;
    font-family: 'Proximanova-Semibold';
    font-size: 18px;
    text-transform: uppercase;
  }

  .be-block-main {
    margin-top: 15px;
  }

/*
 * Error
 */
  body table tr.error {
    background-color: #000;
    color: #a94442;
    border: 1px solid #000;
    color: #FFF;
  }

/*
 * Suggestion Box.
 */
  .suggestion-box-container {
    display: inline-block;
    position: fixed;
    bottom: 6vh;
    right: 35px;
    z-index: 100;
    a {
      display: inline-block;
      background-color: @orange;
      padding: 12px 17px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
      &:active, &:focus {
        outline: none;
      }
      img {
        color: #fff;
        width: 23px;
      }
    }
  }
  .suggestion-form {
    text-align: left;
    #suggestion-details {
      background-color: #fff - 8;
      padding: 20px;
      resize: none;
      height: 200px;
    }
  }
  .be-lightbox {
    .suggestion-box-container {
      display: none;
    }
  }
