body {
  font-family: 'Proximanova-Medium';
  font-size: 16px;
}

a {
  display: inline-block;
}

/*
 * Left Sidebar.
 */

  .left-sidebar {
    position: relative;
    height: 100vh;
    background-color: @gray_sidebar_fill;
  }

  .logo-container {
    text-align: center;
    a {
      display: block;
    }
    img {
      width: 175px;
    }
  }

  .left-sidebar-footer {
    background-color: @gray_sidebar_fill;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 20px 0px 50px;
    p {
      text-align: center;
      color: @precision_built_color;
    }
    img {
      width: 150px;
    }
  }