
@orange: #F58A3E;
@green: #59CD90;
@blue_gray: #87AEB6;
@gray: #EAEAEA;
@dark_gray: #3E474E; // ex. back button
@dark_gray_font: #8D8C8C; // ex. top chevron font color

// Sidebar
@gray_sidebar_fill: #48525A;
@gray_active_menu_tab: rgba(255, 255, 255, 0.1);
@gray_active_menu_tab_header: #3E474E;
@sidebar_menu_font_color: rgba(255, 255, 255, 0.4);
@sidebar_menu_font_color_active: #FFFFFF;

// Top Header
@top_header_height: 55px;
@top_header_border_color: rgba(255, 255, 255, 0.3);

// Bottom Header
@bottom_header_background: #FFFFFF;
@bottom_header_border_color: #95989A + 60;

// Content
@content_background_color: #EEEEEE;
@content_block_title_color: #5C7596;

@modal_content_font_color: #A2A2A2;

@check_gray: #B7B7B7;

@table_header_tr_color: #87AEB6;

@precision_built_color: #EEEEEE;

// Forms
@form_title_color: #5C7596;
@label_color: #5C7596;
@textfield_placeholder_color: rgba(0, 0, 0, 0.15);
@textfield_bottom_border_color: rgba(0, 0, 0, 0.15);
@select_color: #6C6C6C;
@textfield_color: #6C6C6C;
@form_back_button_background: #A2A2A2;

// Tables.
@tb_gray_font: #555454;
@tb_light_gray_font: #92A6B9;

// Field Views
@field_label_color: #92A6B9;
@field_value_color: #757C83;

// Current Progress.
@cp_gray: #B7B7B7;

// Dashboard Charts.
@yellow_orange: #FFBC34;