body.page-rfps-initial-add.be-lightbox {
  .content-region {
    width: 500px;
  }

  #bullseye-rfp-initial-add-form {
    .form-type-checkbox {
      label {
        font-family: 'Proximanova-Regular';
        font-size: 15px;
        color: @textfield_color;
      }
    }
  }

  label.select-benefit-label {
  	margin-bottom: 10px;
  	margin-top: 15px;
  }
}

#bullseye-rfp-form {
  label {
    white-space: nowrap;
    font-size: 13px;
  }
  .form-type-date-popup {
    .form-type-textfield {
      label {
        display: none;
      }
    }
    .help-block {
      display: none;
    }
  }

  .plan-specification-inner {
    margin-top: 20px;
    .form-control {
      height: 25px;
    }
  }

  .census {
    label {
      white-space: normal;
      color: @textfield_color;
    } 
    .form-type-checkbox {
      margin-top: 10px;
    }
  }
}

